.header {
    background-color: #3498db;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .nav {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-link {
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #2980b9;
  }